.hero{
    padding: 5.6vw;
    height: 100%;
    width: 100%;
    position:  absolute;
    
    background-image: url(../images/Filme_Background_pc.jpg); 
    text-align: center;
    color: #fff;

    &__content{
        max-width: 640px;
        padding-top: 125px;
        
        &__branding{
            img{
                max-width: 450px;
                padding-bottom: 20px;
            }
        }
        h2{
            padding-bottom: 20px;
        }

        h3{
            padding-bottom: 5px;
        }
        p{
            padding-bottom: 16px;
            font-size: 20px;
        }
    }
}